@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is reservation sytem of your hotel.</p>
    <a asp-area="" asp-controller="ReservationList" asp-action="Index">Go for your booking list</a>
</div>
